* {
  padding: 0;
  margin: 0;
}
.con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  width: 40rem;
  height: 40rem;
  margin-left: 30%;
}
.item{
  border: black 3px solid;
  text-align: center;
  font-size: 8rem;
}
.info{
  display:  flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
